{% load i18n %}
{% load comments %}

<form method="POST" action="{% comment_form_target %}">
  {% csrf_token %}
  <fieldset>
    <div><input type="hidden" name="next" value="{% url 'comments-xtd-sent' %}"/></div>

    <div class="alert alert-danger hidden" data-comment-element="errors">
    </div>

    {% for field in form %}
      {% if field.is_hidden %}<div>{{ field }}</div>{% endif %}
    {% endfor %}

    <div style="display:none">{{ form.honeypot }}</div>

    <div class="form-group {% if 'comment' in form.errors %}has-error{% endif %}">
      <div>
        {{ form.comment }}
      </div>
    </div>

    <div class="form-group {% if 'name' in form.errors %}has-error{% endif %}">
      <label for="id_name" class="control-label">
        {{ form.name.label }}
      </label>
      <div>
        {{ form.name }}
      </div>
    </div>

    <div class="form-group {% if 'email' in form.errors %}has-error{% endif %}">
      <label for="id_email" class="control-label">
        {{ form.email.label }}
      </label>
      <div>
        {{ form.email }}
        <span class="help-block">{{ form.email.help_text }}</span>
      </div>
    </div>

    <div class="form-group {% if 'url' in form.errors %}has-error{% endif %}">
      <label for="id_url" class="control-label">
        {{ form.url.label }}
      </label>
      <div>
        {{ form.url }}
      </div>
    </div>

    <div class="form-group">
      <div>
        <div class="checkbox">
          <label for="id_followup{% if cid %}_{{ cid }}{% endif %}">
            {{ form.followup }}&nbsp;&nbsp;{{ form.followup.label }}
          </label>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="form-group">
    <div>
      <input type="submit" name="post" value="send" class="btn btn-primary" />
      <input type="submit" name="preview" value="preview" class="btn btn-default" />
    </div>
  </div>
</form>