{% extends "base.html" %}
{% load i18n %}
{% load comments_xtd %}
{% load static %}
{% load wagtailcore_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'blogs/css/style.css' %}">
{% endblock %}

{% block content %}
<section>
    <article>
      <h2>{% trans "Preview your comment:" %}</h2>
      <hr/>
      {% if not comment %}
        <em>{% trans "Empty comment." %}</em>
      {% else %}
        <p>{{ comment }}</p>
        <p>
          {% now "N j, Y, P" %}&nbsp;-&nbsp;
          {% if form.cleaned_data.url %}
          <a href="{{ form.cleaned_data.url }}" target="_new">{% endif %}
            {{ form.cleaned_data.name }}
            {% if form.cleaned_data.url %}</a>{% endif %}
        </p>
      {% endif %}
      <hr/>
      <h2>{% trans "Edit your comment:" %}</h2>
      {% include "comments/form.html" %}
    </article>
</section>
<footer>
    <hr/>
    <a href="{% slugurl 'blog' %}">Back to index</a>
</footer>
{% endblock %}