article {
  padding: 20px 20px 0px 20px;
  color: #666666;
  font: 14pt/1.5em Georgia, Times, serif;
}

header {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #4B698B;
  color: #ffffff;
  font: 16pt/1.5em Georgia, Times, serif;
  line-height: 1.7em;
  text-align: center;
}

footer {
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font: 14pt/1.5em Georgia, Times, serif;
}

img {
  max-width:100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #4B698B;
}
a:hover {
  color: #2B4B6F;
  cursor: pointer;
}

.pagination li {
  list-style-type: none;
  display: inline;
  padding-right: 10px;
}

.dates {
  font: 12pt Georgia, Times, serif;
  line-height: 1.5em;
  padding: 10px;
  background-color: #A9BBCF;
  color: #ffffff;
}

.block-section_heading {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.codehilite {
  padding: 10px;
}

.block-code {
  max-width:100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
  word-wrap: break-word;
}