{% extends 'base.html' %}

{% load wagtailcore_tags %}
{% load static %}
{% load comments %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'blogs/css/default.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'blogs/css/style.css' %}">
{% endblock %}

{% block content %}
<a href="{% slugurl 'blog' %}">
<header>
    <h1>{{ page.get_root.get_last_child.title }}</h1>
</header>
</a>

<section>
    <article>
        <p class="post_title">
            {{ page.title }}<br/> 
            <small>{{ page.subheading }}</small>
        </p>
        <p>
            By {% if page.owner.first_name %} {{ page.owner.first_name }} {{ page.owner.last_name }} {% else %} {{ page.owner }} {% endif %}
        </p>
        <p>
            <i class="fa fa-clock-o" aria-hidden="true"></i> {{ page.first_published_at|date:"d F Y" }} | {% for category in page.categories.all %} {{ category.name }}&nbsp;{% endfor %}<br/>
            Last updated: {{ page.latest_revision_created_at }}
        </p>
        <hr/>
    </article>
    <article>
        {{ page.body }}
    </article>
    {% if page.get_depth == 3 %}
    <article>
        {% get_comment_count for page as comment_count %}
        <div class="text-center" style="padding-top:20px">
          {{ comment_count }} comment{{ comment_count|pluralize }} {{ comment_count|pluralize:"has,have" }} been posted.
        </div>
        <hr />
        <div id="comments" class="comments">
        {% if COMMENTS_APP == 'django_comments_xtd' %}
            <div class="comments">
              {% render_comment_list for self %}
            </div>
            <div class="comment tw-bs">
              <div class="well">
                {% render_comment_form for page %}
              </div>
            </div>
        {% else %}
            No Comments
        {% endif %}
        </div>
    </article>
    {% endif %}
</section>
<footer>
    <hr/>
    <a href="{% slugurl 'blog' %}">Back to index</a>
</footer>

{% endblock %}