{% extends 'base.html' %}

{% load wagtailcore_tags %}
{% load static %}
{% load comments %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'blogs/css/style.css' %}">
{% endblock %}

{% block content %}
<header>
    <h1>{{ page.title }}</h1>
</header>
<section>
    <article>
        {{ page.intro|richtext }}
    </article>
    <article>
        {% for resource in resources %}
            <div>
                <a href ="{% pageurl resource %}">
                    <h3>
                        {{ resource.title }}<br/>
                        <small>{{ resource.subheading}}</small>
                    </h3>
                </a>
                <i>Published: {{ resource.first_published_at }} by {% if resource.owner.first_name %} {{ resource.owner.first_name }} {{ resource.owner.last_name }} {% else %} {{ resource.owner }} {% endif %}</i>
                {{ resource.intro|richtext }}
                {% with categories=resource.categories.all %}
                    {% if categories %}
                        {% for category in categories %}
                            <b>{{ category }}</b>
                        {% endfor %}
                    {% endif%}
                    <p>
                    {% get_comment_count for resource as comment_count %}
                    {% if comment_count %}
                      <i>{{ comment_count }} comments</i>
                    {% else %}
                        <i>No comments yet.</i>
                    {% endif %}
                    </p>
                {% endwith %}
            </div>
            <hr/>
        {% endfor %}
    </article>
</section>
<footer>
    <ul class="pagination">
      {% if resources.has_previous %}
        <li><a href="?page={{ resources.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
      {% endif %}
      {% for page_num in resources.paginator.page_range %}
        <li {% if page_num == resources.number %}class="active"{% endif %}><a href="?page={{ page_num }}">{{ page_num }}</a></li>
      {% endfor %}
      {% if resources.has_next %}
      <li><a href="?page={{ resources.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
      {% endif%}
    </ul>
</footer>
{% endblock %}