{% extends 'base.html' %}

{% load wagtailcore_tags %}
{% load static %}
{% load comments %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'blogs/css/style.css' %}">
{% endblock %}

{% block content %}
<header>
    <h1>{{ page.title }}</h1>
</header>
<section>
    <article>
        {{ page.intro|richtext }}
    </article>
    <article>
        {% for post in page.get_children %}
            {% with post=post.specific %}
            <div>
                <a href ="{% pageurl post %}">
                    <h3>
                        {{ post.title }} {{ post.subheading}}
                    </h3>
                </a>
                <i>Published: {{ post.first_published_at }} by {% if post.owner.first_name %} {{ post.owner.first_name }} {{ post.owner.last_name }} {% else %} {{ post.owner }} {% endif %}</i>
                {{ post.intro|richtext }}
                {% with categories=post.categories.all %}
                    {% if categories %}
                        {% for category in categories %}
                            <b>{{ category }}</b>
                        {% endfor %}
                    {% endif%}
                    <p>
                    {% get_comment_count for post as comment_count %}
                    {% if comment_count %}
                      <i>{{ comment_count }} comments</i>
                    {% else %}
                        <i>No comments yet.</i>
                    {% endif %}
                    </p>
                {% endwith %}
            </div>
            <hr/>
            {% endwith %}
        {% endfor %}
    </article>
</section>
{% endblock %}