{% extends 'base.html' %}

{% load wagtailcore_tags %}
{% load static %}
{% load comments %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'blogs/css/default.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'blogs/css/style.css' %}">
{% endblock %}

{% block content %}
<header>
    <h1>{{ page.title }}</h1>
    <span>{{ page.subheading }}</span>
</header>
<div class="dates">
    <div>By {% if page.owner.first_name %} {{ page.owner.first_name }} {{ page.owner.last_name }} {% else %} {{ page.owner }} {% endif %}</div>
    <div>Published: {{ page.first_published_at }}</div>
    <div>Last updated: {{ page.latest_revision_created_at }}</div>
</div>

<section>
    <article>
        {{ page.body }}
    </article>
    <article>
        {% get_comment_count for page as comment_count %}
        <div class="text-center" style="padding-top:20px">
          {{ comment_count }} comments have been posted.
        </div>
        <hr />
        <div id="comments" class="comments">
        {% if COMMENTS_APP == 'django_comments_xtd' %}
            <div class="comments">
              {% render_comment_list for self %}
            </div>
            <div class="comment">
              <h4 class="text-center">Your comment</h4>
              <div class="well">
                {% render_comment_form for page %}
              </div>
            </div>
        {% else %}
            No Comments
        {% endif %}
        </div>
    </article>
</section>
<footer>
    <hr/>
    <a href="{{ page.get_parent.url }}">Back to index</a>
</footer>

{% endblock %}